.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;

  .group {
    cursor: pointer;
    transition: 0.4s transform;
    background-color: #f7fafc;
    word-break: break-all;

    &:hover {
      transform: translatey(-6px);
    }
  }
}
